{% extends "layouts/base.html" %}

{% block content %}
<div class="post">
  <div id="img-div">
    <img src="{{ image }}" alt="{{ title }}" class="post-image" />
  </div>
  <hr class="divider">
  <h1>{{ title }}</h1>
  <hr class="divider">
  <div class="post-meta">
    <div id="blog-preview-date-time">
      <span class="icon"><i class="fas fa-calendar-alt"></i></span> {{ date }}
      <span class="icon"><i class="fas fa-clock"></i></span> {{ rt }}
    </div>
    <div id="post-tags">
      <span class="icon"><i class="fas fa-tags"></i></span>
      {%- for tag in tags -%}
        <a href="/tags/{{ tag | slug }}">{{ tag }}</a>{% if not loop.last %}<span style="color: crimson">,</span>{% endif %}
      {%- endfor -%}
    </div>
  </div>
  <div id="toc-container">
    <h2>Table of Contents</h2>
    <nav id="table-of-contents"></nav>
  </div>
  <div class="post-content">
    {{ content | safe }}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const tocContainer = document.getElementById("table-of-contents");
    const postContent = document.querySelector(".post-content");
    const headers = postContent.querySelectorAll("h1, h2, h3, h4, h5, h6");

    if (headers.length > 0) {
      let tocList = document.createElement("ul");
      let lastLevel = 1;
      let lastList = tocList;

      headers.forEach((header, index) => {
        header.id = "toc-" + index;
        const level = parseInt(header.tagName.charAt(1));

        let tocItem = document.createElement("li");
        let tocLink = document.createElement("a");
        tocLink.href = "#" + header.id;
        tocLink.textContent = header.textContent;
        tocItem.appendChild(tocLink);

        if (level > lastLevel) {
          const newList = document.createElement("ul");
          lastList.lastChild.appendChild(newList);
          lastList = newList;
        } else if (level < lastLevel) {
          lastList = tocList;
          for (let i = 1; i < level; i++) {
            lastList = lastList.lastChild.lastChild;
          }
        }

        lastList.appendChild(tocItem);
        lastLevel = level;
      });

      tocContainer.appendChild(tocList);
    } else {
      tocContainer.style.display = "none"; // Hide ToC if no headers found
    }
  });
</script>
{% endblock %}
