{% extends "layouts/base.html" %} 
{% block content %}
<div id="project-list-container">
  <div class="project-list">
    {%- for project in collections.projects -%}
    <article class="project-item">
      <div class="post-box">
        <div class="img-div">
          <a href="{{ project.url }}">
            <img src="{{ project.data.image }}" alt="{{ project.data.title }}" class="project-image"/>
          </a>
        </div>
        <h2><a href="{{ project.url }}">{{ project.data.title }}</a></h2>
        <p>{{ project.data.description }}</p>
        <div class="project-meta">
          <div class="technologies">
            <span class="icon"><i class="fas fa-tools"></i></span> <span>Technologies Used:</span>
            <ul>
              {% for tech in project.data.technologies %}
              <li>{{ tech }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="environment">
            <span class="icon"><i class="fas fa-server"></i></span> {{ project.data.environment }}
          </div>
          <div class="links">
            <a href="{{ project.data.live_demo }}" class="button">Live Demo</a>
            <a href="{{ project.data.github_link }}" class="button">GitHub Repo</a>
            {% if project.data.blog_post %}
            <a href="{{ project.data.blog_post }}" class="button">Read Blog Post</a>
            {% endif %}
          </div>
        </div>
      </div>
    </article>
    {%- endfor -%}
  </div>
</div>
{% endblock %}
