body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 16px */
    color: #333;
    line-height: 1.6;
}

h2 {
    font-size: 2rem; /* Adjust size to be larger than h3 */
    color: #333;
    margin: 20px 0 10px;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0 10px;
}

p, li {
    margin: 5px 0;
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.resume-content ul li::before {
    content: none; /* Remove bullet points */
}

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-info {
    margin-bottom: 20px;
}

.certifications, .work-experience, .education, .skills {
    margin-bottom: 40px;
}

.certifications ul, .skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.certifications li, .skills li {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

#resume-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.resume-content {
    width: 90%; /* Increase width of the resume box */
    max-width: 1000px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resume-section {
    margin-bottom: 20px;
}

.resume-section h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resume-section img.certification-logo {
    max-height: 6rem; /* Increase size for certification logos */
    width: auto;
    vertical-align: middle; /* Align with the middle of the text */
}

.resume-section img.company-logo, .resume-section img.education-logo {
    max-height: 6rem; /* Increase size for company and education logos */
    width: auto;
    vertical-align: middle; /* Align with the middle of the text */
}

.job-description {
    margin-left: 2rem; /* Indent bullet points under job title */
}

@media (max-width: 768px) {
    .work-experience h4, .education h4, .skills h4 {
        font-size: 1.25rem;
    }

    .certifications ul, .skills ul {
        flex-direction: column;
        gap: 5px;
    }

    .resume-content {
        width: 90%;
        padding: 10px;
    }

    .resume-section h3 {
        font-size: 1.25rem;
    }

    .resume-section img.certification-logo {
        max-height: 4rem;
    }

    .resume-section img.company-logo, .resume-section img.education-logo {
        max-height: 4rem;
    }
}
